/* Fonts: Roboto Slab, Inter, JetBrains Mono */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-foreground: #d32f2f;
    --accent: #a47a0c;
    --accent-hover: #b38600;
    --background: #fdf6e3;
    --border: #b38600;
    --card-foreground: #002b36;
    --card: #fbeecb;
    --destructive-foreground: #e2e7e8;
    --destructive: #96838a;
    --foreground: #002b36;
    --hover: #fae7b3;
    --input: #b38600;
    --muted-foreground: #a47a0c;
    --muted: #fbeecb;
    --primary-foreground: #002b36;
    --primary: #fdf6e3;
    --secondary-foreground: #a47a0c;
    --secondary: #fbeecb;
    --shadow: #091e42;

    --radius: 0.5rem;
  }

  .dark {
    --accent-foreground: #e2b05c;
    --accent: #2e7d32;
    --accent-hover: #359039;
    --background: #1c2128;
    --border: #697481;
    --card-foreground: #c2cdda;
    --card: #2d333b;
    --destructive-foreground: #e2e7e8;
    --destructive: #d32f2f;
    --foreground: #e2e7e8;
    --hover: #384049;
    --input: #697481;
    --muted-foreground: #697481;
    --muted: #2d333b;
    --primary-foreground: #c2cdda;
    --primary: #1c2128;
    --secondary-foreground: #697481;
    --secondary: #384049;
    --shadow: #c2cdda;
  }

  * {
    @apply border-border;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    background-color: var(--background);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }
}
